<div class="container">
  <div class="row d-flex justify-content-center p-4 ">
    <div class="col-12 col-md-8 col-lg-5 border border-2 rounded-4 p-5 mt-5">
      <div>
        <div class="d-flex flex-column align-items-center">
          <figure class="f1-logo">
            <img src="assets/f1-logo.png" alt="Formula 1 Logo">
          </figure>
          <h1 class="text-center mb-4">Crea una cuenta</h1>
        </div>

        <form (ngSubmit)="onSubmit()" [formGroup]="form" class="mb-3">
          <div class="mb-3">
            <label for="username" class="form-label">Nombre:</label>
            <input type="text" formControlName="username" class="form-control" id="username" placeholder="Ingresa tu nombre">
          </div>

          <div class="mb-3">
            <label for="correo" class="form-label">Correo electrónico:</label>
            <input type="email" formControlName="correo" class="form-control" id="correo" placeholder="name@example.com">
          </div>
          
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Ingresa tu contraseña">
          </div>
          <div class="mb-3">
            <label for="tipo_usuario" class="form-label">Tipo de usuario:</label>
              <select class="form-select" formControlName="tipo_usuario" id="tipo_usuario">
                <option value="" disabled>Selecciona una opción</option>
                <option value="estandar">Estandar</option>
                <option value="admin">Administrador</option>
              </select>
          </div>
  
          <input type="submit" value="Crear cuenta" class="btn btn-primary w-100 py-2 mt-3">
        </form>

        <div class="text-center">
          <p>¿Ya tienes una cuenta?</p>
          <a class="link-opacity-100-hover" routerLink="/login">Inicia sesión aquí</a>
        </div>
      </div>
    </div>
  </div>
</div>